<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>NTF-Grand-Regular.otf</string>
		<string>NTF-Grand-Italic.otf</string>
		<string>NTF-Grand-Medium.otf</string>
		<string>NTF-Grand-MediumItalic.otf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
	</array>
</dict>
</plist>
